{# src/Trenndal/SnowtricksBundle/Resources/views/Default/edit.html.twig #}
{% extends 'templates/page.html.twig' %}


{% block main %}
	
	
	<div class="bg-faded p-4 my-4">
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}
		
		{{ form_row(form.name) }}
		{{ form_row(form.images, {'attr': {'class': 'd-flex justify-content-around align-content-between flex-wrap'}}) }}
		<a href="#" id="add_image" class="btn btn-default">Add Image</a>
		</br>
		{{ form_row(form.videos, {'attr': {'class': 'd-flex justify-content-around align-content-between flex-wrap'}}) }}
		<a  href="#" id="add_video" class="btn btn-default">Add Video</a>
		{{ form_row(form.typeGroup) }}
		{{ form_row(form.description) }}
		
		{{ form_widget(form.save, {'attr': {'class': 'btn btn-secondary'}}) }}
		
		{{ form_rest(form) }}
		
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('web/js/edition.js')}}"></script>
	<script src="{{asset('web/js/bootstrap-filestyle.min.js')}}"></script>

{% for image in trick.images %}
	<script>
		var $container = $('div#trenndal_snowtricksbundle_edittrick_images');
		var $container2 = $('div#trenndal_snowtricksbundle_edittrick_videos');

		var index = $container.find(':input').length;
		var index2 = $container2.find(':input').length;
		if (index > 0) {
			for(var i= 1; i < index+1; i++) { 
				if($container.children('DIV:nth-child('+i+')').attr('img-data')==null){
					$container.children('DIV:nth-child('+i+')').attr('img-data','{{asset(image.webUrl)}}');
					break;
				}
			}
		}
	</script>
{% endfor %}

{% endblock %}
